:root {
    --bg-color:hsl(212, 45%, 89%);
    --text-light: hsl(216, 15%, 48%);
    --text-dark: hsl(218, 44%, 22%);
    --text-ultralight: hsl(215, 21%, 82%);
}

body {
    background-color: var(--bg-color);
    font-family: "Outfit", Helvetica, sans-serif;
    text-align: center;
    display:flex;
	height: 100vh;
	align-items:center;
    margin: 0;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 15px;
    color: var(--text-dark);
}

p {
    font-size: 15px;
    font-weight: 400;
    margin: 15px;
    color: var(--text-light);
}

.attribution {
    font-size: 10px;
    font-weight: 400;
    color: var(--text-ultralight);
}

.box img {
    border-radius: 10px;
    max-width: 100%;
}

.box {
    margin: auto;
    padding: 16px;
    background-color: white;
    border-radius: 20px;
    max-width: 290px;
    min-width: 100px;
    box-shadow: 0 3px 10px rgb(194, 194, 194);
}

.attribution a {
    color: var(--text-ultralight);
}